.q1 { 
    border: 5px solid red;
    border-style: dotted;
    background-color: aquamarine;
}

.q2{
    border-style: solid;
    background-color: gray;
}

.q3{
    border-style: dashed;
    background-color:darkorange
}